/* var */
/* var */
.menu-top {
  width: 100%;
  padding: .4rem 1rem;
  background-color: #2BAF63;
}
.menu-top .navbar-nav {
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}
.menu-top .navbar-nav li {
  text-align: center;
  padding-top: 2px;
  width: 100%;
  border-right: 1px solid #ececec;
}
.menu-top .navbar-nav li:last-child {
  border-right: none;
}
.menu-top .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Intro-Regular';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0 0.5rem;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.menu-top .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar {
  border-bottom: 1px solid #efefef;
  padding: 10px;
}
.navbar .logo {
  margin-right: 40px;
  min-width: 260px;
}
.navbar .logo img {
  float: left;
  padding-right: 5px;
  height: 54px;
}
.navbar .logo .capt1 {
  margin-top: 15px;
  font-family: 'Intro-Bold';
  font-size: 22px;
  line-height: 15px;
  color: #000;
  cursor: pointer;
}
.navbar .logo .capt2 {
  margin: 5px 0 0 2px;
  font-family: 'Intro-Book';
  font-size: 14px;
  color: #b7b7b7;
  cursor: pointer;
}
.navbar .phone {
  margin: 0 auto;
  text-align: left;
}
.navbar .phone p {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: initial;
}
.navbar .phone a[href^="tel:"] {
  font-family: 'Intro-Bold';
  font-size: 1.2rem;
}
.navbar .phone-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}
.navbar .phone-wrapper .callBack-link {
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 19px;
  color: #0281af;
  font-family: 'Intro-Book';
}
.navbar .phone-wrapper .callBack-link:hover {
  opacity: 0.7;
}
.navbar .phone-wrapper .callBack-link img {
  width: 30px;
}
.navbar .phone-wrapper .callBack-link .callBack-text {
  border-bottom: 1px dashed #0281af;
}
.navbar .navbar-toggler {
  border: 1px solid black;
}
@media screen and (max-width: 991px) {
  html {
    font-size: 12px;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar .phone-wrapper {
    width: 56%;
  }
  .navbar .phone-wrapper .callBack-link {
    margin-top: 3px;
  }
  .navbar .phone-wrapper .callBack-link .callBack-text {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 0px;
  }
  .menu-top {
    position: static;
    padding: 0;
    background-color: #fff;
  }
  .menu-top .nav-item {
    border-right: none !important;
  }
  .menu-top .nav-item .nav-link {
    text-align: center;
    color: #0281af;
    margin-bottom: 5px;
    padding-top: 4px;
    line-height: 26px;
    border: 1px solid #cecece;
    border-radius: 6px;
  }
  .menu-top .nav-item .nav-link:hover {
    color: #0281af;
  }
  .navbar .navbar-nav {
    margin-top: 10px;
  }
  .navbar .phone-wrapper {
    width: 30%;
  }
  .navbar .phone-wrapper .callBack-link {
    position: absolute;
    right: -35px;
    bottom: 23px;
  }
  .navbar .phone-wrapper .callBack-link .callBack-text {
    display: none;
  }
  .logo {
    margin-bottom: 8px;
    position: relative;
  }
  .phone {
    margin-bottom: 5px;
    position: static;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .phone a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .navbar .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar .logo .capt1 {
    font-size: 1.4rem;
  }
  .navbar .logo .capt2 {
    font-size: 0.9rem;
  }
  .navbar .phone-wrapper {
    width: 100%;
  }
  .navbar .phone-wrapper .callBack-link {
    display: none;
  }
}
